# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# SQLite databases
*.db
*.sqlite
*.sqlite3

# Virtual environments
venv/
.env/
env/

# Distribution / packaging
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
